@page {
  size: Legal;
  margin:0;
  padding:0;
  font-size:24px;
}
@media print {
   .noprint { 
    display: none; 
    }
    .table-header{
      line-height: 20px;
    }
    .particulars_id{
      resize: none;
      font-size: 5px;
    }
}